.Container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1.2fr 1.2fr 0.5fr 0.7fr 0.7fr 1.2fr;
    justify-content: space-evenly;
    gap: 108px;
    padding: 8px 40px 8px 40px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    text-align: left;
}
.Container span {
    text-align: center;
    align-items: center;
}

.Container input {
    width: 16px;
    height: 16px;
}

.Container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: right;
}
.Container div div {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.Expired {
    background-color: #ffc5bd;
}

.Icon {
    cursor: pointer;
    transition: 0.3s;
    filter: invert(89%) sepia(0%) saturate(383%) hue-rotate(135deg) brightness(89%) contrast(86%);
}

.Icon:hover {
    transform: scale(1.1);
}

.EditIcon {
    width: 27px;
}

.TrashIcon {
    filter: invert(52%) sepia(43%) saturate(2852%) hue-rotate(326deg) brightness(124%) contrast(101%);
}
