.Sidebar {
    width: fit-content;
    height: auto;
    background-color: #fff;
}

/* Add a media query to toggle the sidebar on small screens */
@media (max-width: 1000px) {
    .Sidebar {
        width: 50px;
        padding: 0;
        margin: 0;
    }
    .Sidebar.toggle {
        width: 87.5vw;
        padding: 24px;
        margin: 0;
    }
    .ProductName img {
        visibility: hidden;
    }
    .Sidebar ul li span {
        display: none;
    }
}

.Sidebar ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.Sidebar ul li{
    width: 208px;
    display: flex;
    list-style: none;
    box-sizing: border-box;
}

.Sidebar ul li h2{
    font-weight: normal;
    font-size: 24px;
    color: #353535;
    margin: 0;
    margin-left: 16px;
}
.Sidebar ul li a{
    text-decoration: none;
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #a3a3a3;
}

.Sidebar ul li a:hover{
    background-color: #F4F4F4;
}

.Sidebar ul li .NavIcon{
    padding: 12px;
    margin-right: 16px;
}

.active{
    background-color: #F4F4F4;
    font-weight: bold;
    color: #000;
}

.active img{
    background-color: #ff8502;
    border-radius: 8px;
    filter: invert();
    padding: 12px;
}

.Topbar{
    width: fit-content;
    max-width: 764px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 40px;
    right: 56px;
    gap: 156px;
}

.Topbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Topbar ul li{
    list-style: none;
}

.Topbar ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
}

.TopButton {
    width: fit-content;
    min-width: 40px;
    height: 40px;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: #353535;
    margin: auto;
    box-sizing: border-box;
    gap: 8px;
    padding: 0;
}


.ProductName {
    border-bottom: 1px solid rgba(224,225,226,0.25);
    padding-left: 12px;
    padding-top: 48px;
    padding-bottom: 24px;
}

.SwitchCompany {
    width: fit-content;
    height: fit-content;
    height: auto;
    display: none;
    padding: 24px;
    background-color: rgba(255,255,255,0.25);
    position: absolute;
    backdrop-filter: blur(24px);
    border: 1px solid rgba(224,225,226,0.25);
    border-radius: 8px;
    flex-direction: column;
}

.Container {
    width: 99%;
    height: 100vh;
    color: #353535;
}

.BreadCrumb {
    /* width: fit-content; */
    width: 100%;
    margin-top: 80px;
    margin-bottom: 32px;
}

.TopButton .ProfilePicture {
    border-radius: 8px;
}

.Notice {
    width: 100%;
    max-width: 980px;
    height: auto;
    box-sizing: border-box;
    padding: 24px;
    background-color: #f0f3f8;
    border-radius: 8px;
    color: #353535;
    font-size: 14px;
}

.Notice a {
    text-decoration: none;
    color: #007afb;
}

.Loading {
    font-size: 24px;
    margin: 20px 0 ;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00ac33;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00ac33;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }